@import 'variables';

#landing-demo {
  width: 100%;
  height: 100%;

  #canvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
  }

  #landing-demo-center {
	z-index: 100;
	position: relative;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
}

@keyframes bounce {
  0% {transform: translateY(0)}
  15% {transform: translateY(40px)}
  30% {transform: translateY(0)}
  45% {transform: translateY(40px)}
  60% {transform: translateY(0)}
}

#scroll-down {
  margin-top: 32px;
  background: transparent !important;

  i {
	font-size: 2em;
  }

  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}