@import 'variables';

nav ul li {
  &:hover {
    background-color: lighten($color-primary, 6%) !important;
  }

  &.active {
    background-color: lighten($color-primary, 10%) !important;

    a {
      color: $color-accent !important;
      border-bottom: 2px solid $color-accent;
    }
  }
}

.side-nav {
  background-color: $color-primary !important;

  li a {
    color: $text-primary !important;
  }
}
