@import 'variables';

html, body {
  height: 100%;
  color: $text-primary;
  font-family: 'Palanquin', sans-serif;
}

.background-primary {
  background-color: $color-primary;
}

.background-secondary {
  background: $color-secondary;
}

.background-accent {
  background-color: $color-accent;
}

.text-primary {
  color: $text-primary;
}

.text-secondary {
  color: $text-secondary;
}

.text-accent {
  font-weight: bold;
  color: $color-accent !important;
}

.block-primary {
  @extend .background-primary;
  @extend .text-primary;
}

.block-secondary {
  @extend .background-secondary;
  @extend .text-secondary;
}

.block-accent {
  @extend .background-accent;
  color: $text-secondary;
}