@import 'variables';

html, body {
  height: 100%;
  color: $text-primary;
  font-family: 'Palanquin', sans-serif;
}

a {
  color: $color-accent;
}

.text-primary {
  color: $text-primary;
  font-size: 1.3em;
}

.text-secondary {
  color: $text-secondary;
}

.text-accent {
  font-weight: bold;
  color: $color-accent !important;
}
