@import 'variables';

html, body {
  height: 100%;

  background-color: $color-primary;
  color: $text-primary;
}

.page-height {
  height: 100%;
}

.background-primary {
  background-color: $color-primary;
}

.text-primary {
  color: $text-primary;
}