doctype html
html(lang="en")
	head
		block title
			title My Site

		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")

		// Materialize
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css")

		// Palanquin Font
		link(href="https://fonts.googleapis.com/css?family=Palanquin:200" rel="stylesheet")

		// Main CSS
		link(rel="stylesheet" href="css/main.css")

		// Custom CSS
		block css
	body
		block content

		// Materialize scripts
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")

		// Custom scripts
		block scripts