mixin experience-chart(title, data)
	div
		h4= title
		each item, name in data
			.row.progress-row.valign-wrapper
				.col.s4.m3.l2
					.progress-label= name
				.col.s8.m9.l10
					.progress
						.determinate(style=`width: ${item}%;`)
						.experience-label= (Number(item) > 70) ? 'Extensive' : (Number(item) > 40 ? 'Moderate' : 'Basic')