// TODO: figure out how to assign .active classes to current page link

nav#navbar.block-primary
	.nav-wrapper.container
		a.button-collapse(href="#!" data-activates="side-nav")
			i.material-icons menu
		ul.left.hide-on-med-and-down
			each item in navbar
				li: a(href=item.href) #{item.text}
		ul#side-nav.side-nav
			each item in navbar
				li: a(href=item.href) #{item.text}

append scripts
	script.
		$(".button-collapse").sideNav();