mixin projects-carousel(data)
	.carousel.carousel-slider.center
		each project in data
			.carousel-item.project(style="background-image: url('" + project.image + "');")
				.project-description
					.title= project.name
					.timeframe= project.timeFrame
					.description= project.shortDescription
					.links
						each link, name in project.links
							a(href= link)= name
							br
