mixin projects-carousel(data)
	each project, index in data
		.row
			.col.s12.m6.l5
				.block-secondary.project-description
					.title= project.name
					.timeframe= project.timeFrame
					.description= project.shortDescription
					.links
						each link, name in project.links
							a(href= link)= name
							br
			.col.s12.m6.l7
				img.project-image.materialboxed(src= project.image)
