doctype html
html(lang="en")
	head
		title Tanner Nielsen - Software Engineer
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")

		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous")
		link(href="https://fonts.googleapis.com/css?family=Palanquin:200" rel="stylesheet")

		link(rel="stylesheet" href="../sass/main.scss")
		include snippets/ga
	body
		canvas#canvas
		#center-text
			h1 Hi, I'm #[span.text-accent Tanner Nielsen].
			h3 I'm a software engineer and amateur composer.
			.links
				a.icon.fab.fa-linkedin(title="LinkedIn" href="https://www.linkedin.com/in/tanner-a-nielsen/")
				a.icon.fab.fa-github-alt(title="GitHub" href="https://github.com/tannerntannern")
				a.icon.fas.fa-at(title="Email" href="mailto:tannerntannern@gmail.com")
				a.icon.fa.fa-file-alt(title="Resume", href="../docs/resume.pdf")

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(type="module" src="../ts/main.ts")
