extends ../templates/page

block title
	title Tanner Nielsen - Full-Stack Web Developer

block content
	#landing-demo
		canvas#canvas
		#landing-demo-center
			.hide-on-small-only
				h1 Hi, I'm #[span.text-accent Tanner Nielsen].
				h4 I'm a full-stack web developer.
			.hide-on-med-and-up
				h3 Hi, I'm #[span.text-accent Tanner Nielsen].
				h5 I'm a full-stack web developer.
	#main.block-primary
		include ../snippets/navbar
		.container
			#about-me.section.scrollspy
				.row
					.col.s12(style="height: 600px;")
						| Whoah there, howdy partner.  My name is Deputy Danner.
			#my-work.section.scrollspy
				.row
					.col.s12(style="height: 600px;")
						| Whoah there, howdy partner.  My name is Deputy Danner.
			#contact.section.scrollspy
				.row
					.col.s12(style="height: 600px;")
						| Whoah there, howdy partner.  My name is Deputy Danner.

append scripts
	script(src="js/main.js")
	script.
		$(document).ready(function(){
			// Init pushpin navbar
			let container = $('#main'), nav = $('#navbar');
			nav.pushpin({
				top: nav.offset().top,
				bottom: container.offset().top + container.outerHeight() - nav.height()
			});

			// Init scrollspy
			$('.scrollspy').scrollSpy({
				getActiveElement: function(id){
					return 'nav ul li[data-section="#' + id + '"]';
				}
			});
		});