extends ../templates/page

block title
	title Tanner Nielsen - Full-Stack Web Developer

block content
	#landing-demo
		canvas#canvas
		#landing-demo-center
			.hide-on-small-only
				h1 Hi, I'm #[span.text-accent Tanner Nielsen].
				h4 I'm a full-stack web developer.
			.hide-on-med-and-up
				h3 Hi, I'm #[span.text-accent Tanner Nielsen].
				h5 I'm a full-stack web developer.
	#main.block-primary
		include ../snippets/navbar
		.container
			.row
				.col.s12(style="height: 1000px;")
					| I am available for hire: #{availableForHire}

append scripts
	script(src="js/main.js")
	script.
		$(document).ready(function(){
			let container = $('#main'), nav = $('#navbar');
			nav.pushpin({
				top: nav.offset().top,
				bottom: container.offset().top + container.outerHeight() - nav.height()
			});
		});