extends ../templates/page

block title
	title Canvas Test

block content
	#landing-demo
		canvas(id="canvas" width="1000" height="500")
		#landing-demo-center
			h2 Hi, I'm #[span.text-accent Tanner Nielsen]
			h5 I'm a full-stack web developer.
	#main


block scripts
	script(src="js/main.js")