extends ../templates/page
include ../snippets/under-contruction

block title
	title Tanner Nielsen - Full-Stack Web Developer

block content
	// Just a placeholder element for the scrollspy plugin to jump to
	#top-of-page.section.scrollspy(style="height: 0; padding: 0;")
	#landing-demo
		canvas#canvas
		#landing-demo-center
			.hide-on-small-only
				h1 Hi, I'm #[span.text-accent Tanner Nielsen].
				h4 I'm a full-stack web developer.
			.hide-on-med-and-up
				h3 Hi, I'm #[span.text-accent Tanner Nielsen].
				h5 I'm a full-stack web developer.
			a#scroll-down.btn-floating.btn-large.waves-effect(href="#about-me"): i.material-icons arrow_downward
	#main.block-primary
		#nav-placeholder
			include ../snippets/navbar
		.container
			#about-me.section.scrollspy
				.row
					.col.s12(style="height: 800px;")
						h1.center About Me
						+under-construction()
			#my-work.section.scrollspy
				.row
					.col.s12(style="height: 800px;")
						h1.center My Work
						+under-construction()
			#contact.section.scrollspy
				.row
					.col.s12(style="height: 800px;")
						h1.center Contact
						+under-construction()
		include ../snippets/footer

append scripts
	script(src="js/main.js")
	script.
		$(document).ready(function(){
			// Init pushpin navbar
			let container = $('#main'), nav = $('#navbar');
			nav.pushpin({
				top: container.offset().top,
				bottom: container.offset().top + container.outerHeight() - nav.height()
			});

			// Size the nav-placeholder to avoid the jumpy pushpin effect
			$('#nav-placeholder').css({ height: nav.height() + 'px' });

			// Init scrollspy
			$('.scrollspy').scrollSpy({
				scrollOffset: nav.height(),
				getActiveElement: function(id){
					return 'ul li[data-section="#' + id + '"]';
				}
			});
		});