extends ../templates/page
include ../snippets/under-contruction
include ../snippets/experience-chart
include ../snippets/projects-carousel

block title
	title Tanner Nielsen - Full-Stack Web Developer

block content
	// Just a placeholder element for the scrollspy plugin to jump to
	#top-of-page.section.scrollspy(style="height: 0; padding: 0;")
	#landing-demo
		canvas#canvas
		#landing-demo-center
			.hide-on-small-only
				h1 Hi, I'm #[span.text-accent Tanner Nielsen].
				h4 I'm a full-stack web developer.
			.hide-on-med-and-up
				h3 Hi, I'm #[span.text-accent Tanner Nielsen].
				h5 I'm a full-stack web developer.
			a#scroll-down.btn-floating.btn-large.waves-effect(href="#about-me"): i.material-icons arrow_downward
	#main.block-primary
		#nav-placeholder
			include ../snippets/navbar
		.container
			#about-me.section.scrollspy
				.row
					.col.s12
						h1.center About Me
						.row
							.col.s12.m6.l5.xl4
								img.responsive-img.circle(src="img/profile.jpg")
							.col.s12.m6.l7.xl8
								| I grew up in the small town of Luck, Wisconsin, where I first discovered programming
								| in the process of trying to build computer games.  Throughout middle and high school
								| I taught myself various programming languages, and now I'm working on a B.A. in
								| Computer Science at #[a(href="http://www.drake.edu") Drake University].
								br
								br
								| When I'm not busy with my studies, I'm working on various coding projects.  Currently,
								| I'm one of three developers working for #[a(href="https://sportslab360.com") SportsLab360].
								| When I'm not working on school or coding projects, I like to play music.
						.row
							h3.center My Experience
						.row
							.col.s12
								+experience-chart("Languages", skills.languages)
						.row
							.col.s12
								+experience-chart("Frameworks/Libraries", skills.frameworks)
			#my-work.section.scrollspy
				.row
					.col.s12
						h1.center My Work
						+projects-carousel(projects)
			#contact.section.scrollspy
				.row
					.col.s12
						h1.center Contact
						i.fab.fa-github
						i.fas.fa-envelope
						i.fab.fa-linkedin
		include ../snippets/footer

append scripts
	script(src="js/main.js")
	script.
		$(document).ready(function(){
			// Init pushpin navbar
			let container = $('#main'), nav = $('#navbar');
			nav.pushpin({
				top: container.offset().top,
				bottom: container.offset().top + container.outerHeight() - nav.height()
			});

			// Size the nav-placeholder to avoid the jumpy pushpin effect
			$('#nav-placeholder').css({ height: nav.height() + 'px' });

			// Init scrollspy
			$('.scrollspy').scrollSpy({
				scrollOffset: nav.height(),
				getActiveElement: function(id){
					return 'ul li[data-section="#' + id + '"]';
				}
			});

			// Init projects carousel
			$('.carousel.carousel-slider').carousel({
				fullWidth: true,
				indicators: true
			});
		});