:first-child {
  margin-top: 0; }

:last-child {
  margin-bottom: 0; }

nav, .side-nav {
  z-index: 1000; }

nav ul li:hover, .side-nav li:hover {
  background-color: #3d3d3d !important; }

nav ul li.active, .side-nav li.active {
  background-color: #484848 !important; }
  nav ul li.active a, .side-nav li.active a {
    color: #ffc300 !important;
    border-bottom: 2px solid #ffc300; }

.side-nav {
  background-color: #2e2e2e !important; }
  .side-nav li a {
    color: #fff6f2; }

footer .copyright {
  font-size: 1.5em;
  padding: 1em 0; }

#landing-demo {
  width: 100%;
  height: 100%; }
  #landing-demo #canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; }
  #landing-demo #landing-demo-center {
    z-index: 100;
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

@keyframes bounce {
  0% {
    transform: translateY(0); }
  15% {
    transform: translateY(40px); }
  30% {
    transform: translateY(0); }
  45% {
    transform: translateY(40px); }
  60% {
    transform: translateY(0); } }

#scroll-down {
  margin-top: 32px;
  background: transparent !important;
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite; }
  #scroll-down i {
    font-size: 2em; }

html, body {
  height: 100%;
  color: #fff6f2;
  font-family: 'Palanquin', sans-serif; }

a {
  color: #ffc300; }

.background-primary, .block-primary {
  background-color: #2e2e2e; }

.background-secondary, .block-secondary {
  background: #fff6f2; }

.background-accent, .block-accent {
  background-color: #ffc300; }

.text-primary, .block-primary {
  color: #fff6f2;
  font-size: 1.3em; }

.text-secondary, .block-secondary {
  color: #2e2e2e; }

.text-accent {
  font-weight: bold;
  color: #ffc300 !important; }

.block-accent {
  color: #2e2e2e; }

.progress-row {
  margin-bottom: 0.25em; }
  .progress-row:hover .progress {
    height: 1.25em; }
    .progress-row:hover .progress .experience-label {
      opacity: 1; }

.progress {
  transition: height 0.5s;
  height: 6px;
  background-color: #1a1a1a; }
  .progress .determinate {
    background-color: #ffc300; }

.progress-label {
  float: right;
  padding: 0 0.25em;
  font-weight: bold; }

.experience-label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8em;
  font-weight: bolder;
  padding: 0 0.5em;
  background-color: rgba(0, 0, 0, 0.18);
  opacity: 0;
  transition: opacity 0.5s; }

.project {
  background-size: cover;
  background-position-x: center;
  background-position-y: top; }

.project-description {
  margin: 0.5em;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1em;
  float: left;
  text-align: left; }
  .project-description .title {
    font-size: 1.9em;
    font-weight: bolder; }
  .project-description .timeframe {
    font-size: 0.7em;
    font-style: italic; }
  .project-description .description {
    margin-top: 0.25em;
    font-size: 0.9em;
    font-weight: bold; }
  .project-description .links {
    margin-top: 0.5em;
    font-size: 0.9em; }

@media only screen and (max-width: 600px) {
  .project-description {
    max-width: 100%; } }

@media only screen and (max-width: 992px) {
  .project-description {
    max-width: 75%; } }

@media only screen and (min-width: 993px) {
  .project-description {
    max-width: 50%; } }

.contact-list i {
  font-size: 1.5em; }

.under-construction {
  z-index: -1;
  margin-top: 100px;
  padding: 40px 0;
  transform: rotate(7deg);
  background: repeating-linear-gradient(-45deg, black, black 20px, yellow 20px, yellow 40px); }
  .under-construction .uc-text {
    background-color: yellow;
    color: black;
    font-size: 3em;
    font-weight: bolder; }
